.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container {
  margin: 1rem;
  width: 33%;
}

img {
  width: 10rem;
  padding: 1rem;
  background-color: white;
}

a {
  text-decoration: none;
  color: rgb(160, 160, 160);
  padding: 1rem;
}

a:hover {
  background-color: white;
}

.history {
  width: 20%;
}